@import url("font.css");
@import url("responsive.css");

:root {
    --white: #fff;
    --red-50: #ff5588;
    --gray-50: #f0f2f7;
    --bule-50: #6ec1e4;
    --gray-500: #46484d;
    --gray-30: #ddddde;
    --gray-100: #7f8187;
    --gray-150: #a2a2a2;
    --gray-110: #d4cfe6;
    --black: #000;
    --dark-bg: #2b2b33;
    --dark-section-bg: #212128;
    --dark-element-bg: #1c1c21;
    --blue-btn-bg: #1f94ce;
    --green-50: #7ccc77;
    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5rem;
}
::selection {
    background-color: var(--red-50);
    color: var(--white);
}

/* Helper class */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lalezar-font {
    font-family: "lalezar";
}

.roboto-mf {
    font-family: "Roboto-Medium";
}

.roboto-rf {
    font-family: "Roboto";
}

.btn-style {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1.6rem;
    border-radius: 5px;
}

/* Componnets */

.btn-red50,.btn-gray50 {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    transition: all 300ms ease-in-out;
    border: none;
    outline: none;
    border-radius: 5px;
}
.btn-red50{ 
    background-color: var(--red-50);
    color: var(--white) !important;
}
.btn-gray50{
    background-color: var(--gray-50);
    color: var(--gray-100) !important;
}
.btn-red50:hover {
    background-color: #ff316f;
}

.btn-gray50:hover {
    background-color: #e3e6f0;
}

/* remove increase and decrease of input box */

.remove-number-input::-webkit-outer-spin-button,
.remove-number-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.remove-number-input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
