

body {
    background-color: #1c1c21;
    width: 100%;
    height: 100vh;
}

.container {
    flex-direction: column;
}
/* img {
    width: 12rem;
    height: 12rem;
} */

h3 {
    margin-top: 3rem;
    font-size: 2.5rem;
    color: #ddddde;
    font-family: sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40rem;
    margin-top: 4rem;
    /* background-color: aqua; */
}

input {
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: .3rem;
    background-color: #2b2b33;
    text-align: center;
    color: #ddddde;
    font-size: 1.6rem;
    text-align: left;
    transition: all 200ms ease-in-out;
    direction: ltr;
}
input::placeholder {
    font-family: "lalezar";
    font-size: 1.4rem;
    text-align: right;
}
input:focus {
    border: 1px solid #006293;
}
#submit-admin-login {
    text-align: center;
    font-family: "lalezar";
    letter-spacing: 2px;
    font-size: 1.6rem !important;
    padding: .7rem;
    cursor: pointer;
    background-color: #166d99;
    margin-top: 1rem;
}

#submit-admin-login:hover {
    background-color: #158dc8;

}
.forget-password-title {
    color: #666;
    font-family: "lalezar";
    font-size: 1.4rem;
    margin-top: .5rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.forget-password-title:hover {
    color: #bbb;
}

@media screen and (max-width: 576px) {
   
    .container {
        width: 100% !important ;
        padding: 0 2rem;
    }
    .login-page-form {
        width: 100% ;
    
    }
}